/* header */

#headbox-bg {
  border-top: 4px solid $primary-color;
  @include screen-pc {
    padding-top: 0;
  }
}
#headbox {
  display: flex;
  justify-content: space-between;
  padding: 0 !important;
  align-items: center;
  @include screen-pc {
    align-items: flex-start;
  }
}

/* logo */
#header-l {
  width: 100%;
  height: auto;
  margin: 15px 30px 10px 0;
  @include screen-tablet {
    width: auto;
    margin: 0;
  }
}
.ccap-logo {
  margin-left: 15px;
  width: 100%;
  @include screen-tablet {
    width: 178px;
    height: 60px;
  }
  @include screen-pc {
    width: 239px;
    height: 81px;
    margin-top: 15px;
    margin-left: 0;
  }
  img {
    width: 100%;
    height: auto;
  }
}

.header-r__top {
  display: none;
  @include screen-pc {
    display: flex;
  }
  justify-content: flex-end;
  align-items: center;
}
.header-r__bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* utility menu */
.menu-utility__header-top,
.menu-utility__header-bottom {
  list-style-type: none;
}
.menu-utility__header-top {
  display: flex;
  justify-content: flex-end;
  li {
    @include link-with-arrow($color:$primary-color);
    padding-left: 13px;
    margin-right: 15px;
    a {
      color: $txt-base-color01;
      font-size: 14px;
      letter-spacing: 1px;
      &:hover {
        color: $secondary-color;
      }
    }
  }
}

.menu-utility__header-bottom {
  flex-wrap: wrap;
  width: 342px;
  display: none;
  @include screen-pc {
    display: flex;
  }
  li {
    @include link-with-arrow($left:8px);
    margin-right: 4px;
    margin-bottom: 4px;
    &:nth-child(2n) { margin-right: 0; }
    &:nth-child(3),
    &:nth-child(4) { margin-bottom: 0; }
    width: 164px;
    a {
      background-color: $primary-color;
      color: #fff;
      padding: 5px 4px;
      border-radius: 2px;
      display: block;
      text-align: center;
      font-size: 12px;
      &:hover {
        background-color: $secondary-color;
      }
    }
  }
}

/* telephone number */
.telno,
.telno__forsp {
  width: 280px;
  height: 60px;
}
.telno {
  display: none;
  @include screen-tablet {
    display: flex;
  }
}
.telno__forsp {
  display: block;
  margin: 0 auto;
  width: 94%;
  height: auto;
  img {
    width: 100%;
    height: auto;
  }
  @include screen-tablet {
    display: none;
  }
}

/* links */
.link-orange-ribbon,
.link-clinic {
  position: relative;
  a {
    text-align: center;
    display: block;
  }
}
.link-orange-ribbon {
  a {
    background-color: $highlight-color01;
    color: #fff;
    &:hover {
      background-color: desaturate($highlight-color01, 15%);
    }
  }
}
.link-clinic {
  a {
    background-color: $highlight-color02;
    color: $txt-base-color02;
    &:hover {
      background-color: desaturate($highlight-color02, 15%);
    }
  }
}
.header-r__top .link-orange-ribbon,
.header-r__top .link-clinic {
  width: 180px;
  margin: 10px 4px 10px 0;

  a {
    height: 24px;
    line-height: 24px;
    border-radius: 12px;
    font-size: 12px;
  }
}
.header-r__top .link-orange-ribbon::before {
  @include css-arrow($left:10px);
}
.header-r__top .link-clinic::before {
  @include css-arrow($color:$txt-base-color02, $left:10px);
}
#nav-content .link-orange-ribbon::before {
  @include css-arrow($left:14px);
}
#nav-content .link-clinic::before {
  @include css-arrow($color:$txt-base-color02, $left:14px);
}
#nav-content .link-orange-ribbon,
#nav-content .link-clinic {
  width: 80%;
  margin: 10px auto;
  a {
    height: 34px;
    line-height: 34px;
    border-radius: 17px;
    font-size: 14px;
  }
}

/* PC用global menu */
#st-menubox {
  border: 0;
  .menu {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    li {
      border: 0;
      width: 176px;
    }
    > li {
      float: none;
      border: 0;
      border-right: 2px dotted $primary-color;
      height: 24px;
      &:first-child {
        border-left: 2px dotted $primary-color;
      }
      > a {
        line-height: 24px;
        &:hover {
          color: $secondary-color;
        }
      }
      &:hover {
        .sub-menu {
          display: block;
        }
      }
    }
  }
  .sub-menu {
    position: absolute;
    left: -1px;
    > li {
      > a {
        border: 0;
        border-bottom: 1px dotted $base-color;
        background-color: $primary-color;
        color: #fff;
        &:hover {
          background-color: $secondary-color;
        }
      }
      &:last-child {
        > a {
          border: 0;
        }
      }
    }
  }
}

/* SP用 menu */
/* global */
#nav-content {
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none !important;
  }
  .menu-global-container {
    .menu {
      width: 80%;
      margin: 10px auto;
      li {
        a {
          display: block;
          color: $txt-base-color02;
          text-align: left;
          border-bottom: 1px solid #eee;
          height: 38px;
          line-height: 38px;
          text-decoration: none;
        }
      }
      > li {
        > a {
          position: relative;
          &::after {
            content: '';
            border: solid $primary-color;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 4px;
            position: absolute;
            top: 12px;
            right: 0;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
          }
        }
        &.open {
          > a {
            &::after {
              transform: rotate(-45deg);
              -webkit-transform: rotate(-45deg);
              right: 2px;
            }
          }
        }
      }
    }
  }
  .sub-menu {
    > li {
      > a {
        margin-left: 20px;
      }
    }
  }
  /* utility menu */
  .st-submenu-box {
    width: 80%;
    margin: 20px auto;
  }

  .menu-utility__sp-sub-top {
    margin-bottom: 10px;
    li {
      @include link-with-arrow($left:14px);
      margin-bottom: 5px;
      a {
        background-color: $primary-color;
        color: #fff;
        padding: 5px 4px;
        border-radius: 2px;
        display: block;
        text-align: center;
      }
    }
  }
  .menu-utility__sp-sub-bottom {
    li {
      @include link-with-arrow($color:$primary-color, $left:14px);
      padding-left: 13px;
      margin-right: 15px;
      a {
        color: $txt-base-color01;
      }
    }
  }
}

/* header image */

/* メイン画像横幅=画面横幅-margin*2 */
$mainimg-width: calc(100vw - ( 20px * 2 ));

.header-image {
  width: $mainimg-width;
  height: calc(#{$mainimg-width} * 0.46);
  margin: 15px auto 0;
  background-color: $base-color;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  @include screen-iphoneplus {
    justify-content: flex-end;
  }
  @include screen-tablet {
    margin-top: 0;
  }
  @include screen-pc {
    width: 1050px;
    height: 320px;
    margin: 0 auto;
    align-items: flex-start;
    img {
      width: 100%;
      height: auto;
    }
  }
  .header-image-copy {
    width: 94%;
    text-align: left;
    letter-spacing: .02em;
    @include screen-iphoneplus {
      width: calc(#{$mainimg-width} / 2);
    }
    @include screen-tablet {
      width: calc(#{$mainimg-width} * 0.45);
    }
    @include screen-pc {
      width: 500px;
      margin-top: 88px;
    }
    .br {
      display: inline;
      @include screen-iphoneplus {
        display: block;
      }
      @include screen-pc {
        display: inline;
      }
    }
    strong {
      font-size: calc(16px + 19 * ((100vw - 320px) / 680));
      color: darken($primary-color, 8%);
      line-height: 1.4;
      font-weight: normal;
      display: block;
      margin-bottom: 0.3em;;
      @include screen-pc {
        font-size: 25px;
        letter-spacing: .1em;
      }
      .phone-icon {
        font-size: 50px;
        transform: rotate(-19deg) translateY(4px);
        margin-right: 15px;
        display: none;
        @include screen-pc {
          display: inline-block;
        }
      }
    }
    p {
      font-size: calc(12px + 8 * ((100vw - 320px) / 680));
      line-height: 1.5;
      margin: 0;
      color: $txt-base-color02;
      @include screen-pc {
        font-size: 13px;
        letter-spacing: .08em;
        margin-bottom: 0.2em;
      }

    }

  }
}

/* ぱんくず */
#breadcrumb {
  margin: 0;
  padding: 0 0 5px;
  background-color: $base-color;
  padding: 5px 0;
  margin: 20px 0 0;
  ol {
  	width: 100%;
    margin: 0 20px;
    @include screen-pc {
      width: 1060px;
      margin: 0 auto;
    }
    li {
      color: $txt-base-color02;
      a {
        color: $txt-base-color02;
      }
    }
  }
}
