/* list */

.archive {
  /* 一覧周囲にマージン */
  .st-main {
    margin: 10px 15px;
    @include screen-pc {
      margin: 0 280px 0 0;
    }
  }
  /* 一覧タイトル */
  .entry-title {
    background-color: #f3fCe6;
    color: $secondary-color;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;
    padding: 16px 10px 16px 60px;
    background-image: url(./images/pages/memo.png);
    background-repeat: no-repeat;
    background-size: 36px auto;
    background-position: 20px 50%;
    border-radius: 5px;
    margin: 0 0 20px;
    @include font-rounded;
  }
  /* 打ち消し */
  .kanren {
    padding-top: 0;
    @include screen-pc {
      padding-top: 20px;
    }
  }
}

.st-main {
  margin: 10px 15px;
  @include screen-pc {
    margin: 0 280px 0 0;
  }
}

.list-box--wrapper {
  @include screen-pc {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px 30px 0;
  }
  .list-box {
    border-bottom-style: solid;
    dt {
      width: auto;
      img {
        margin-right: 10px;
      }
    }
    dd {
      padding: 0;
      /* 見出し　*/
      .kanren-t {
        font-size: 18px;
        letter-spacing: 0.05em;
        @include screen-pc {
          font-size: 14px;
        }
        a {
          color: $txt-base-color02;
          &:hover {
            color: $secondary-color;
          }
        }
      }
      .blog_info p a {
        display: inline-block;
        color: #fff;
        background: #f2bd1c;
        padding: 2px 6px;
        border-radius: 2px;
      }
      .excerpt {
        margin-top: 10px;
        p {
          font-size: 16px;
          line-height: 1.4;
          letter-spacing: 0.05em;
          @include screen-pc {
            font-size: 14px;
          }
        }
      }
    }
  }
}

/* page送り */
.st-pagelink .page-numbers {
  padding: 0;
  height: auto;
  min-width: auto;
  width: auto;
  border: 0;
  background-color: $primary-color;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  &.next,
  &.prev {
    position: relative;
    padding: 5px 20px;
    &::before {
      display: block;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      position: absolute;
      top: calc(50% - 3px);
    }
  }
  &.next {
    padding-right: 28px;
    &::before {
      right: 8px;
      border-width: 2.5px 0 2.5px 5px;
      border-color: transparent transparent transparent #fff;
    }
  }
  &.prev {
    padding-left: 28px;
    &::before {
      left: 8px;
      border-width: 2.5px 5px 2.5px 0;
      border-color: transparent #fff transparent transparent;
    }
  }
}
