/* page */
/* 打ち消し */
.post ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    font-size: 15px;
  }
}
/* 共通 */
.static-page {
  margin: 0 15px;
  /* base font */
  color: $txt-base-color02;
  font-size: 15px;
  letter-spacing: 0.1em;
  line-height: 1.8;

  @include screen-pc {
    // margin: 0 0 30px;
  }

  /* 記事全体 */
  article {
    @include screen-pc {
      width: 900px;
      margin: 0 auto;
    }
  }

  /* タイトル */
  .entry-title {
    text-align: center;
    margin: 20px 0 10px;
    .static-page-title {
      color: $txt-base-color02;
      font-size: 26px;
      line-height: 1.5;
      letter-spacing: 0.05em;
      @include font-rounded;
      @include slant-stripe-line;
      .static-page-title__en {
        color: $primary-color;
        font-size: 0.7em;
        @include font-noto;
        margin-left: 10px;
        letter-spacing: 0.15em;
      }
    }
  }

  /* content box */
  .contents-box {
    margin-bottom: 30px;
    @include screen-pc {
      margin-bottom: 40px;
    }
    h2 {
      @include font-rounded;
      font-size: 24px;
      color: $primary-color;
      margin-bottom: 10px;
      line-height: 1.2;
    }
    h3 {
      @include font-rounded;
      color: $secondary-color;
      border: 0;
      padding: 0;
      margin: 0;
      font-size: 18px;
      line-height: 1.5;
      @include screen-tablet {
        font-size: 22px;
        line-height: 1.4;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* 電話で相談する for-parent/hotline */
.hotline {
  /* タイトル */
  .entry-title {
    @include screen-pc {
      margin-bottom: 0 !important;
    }
  }
  /* 導入 */
  .contents-box-01 {
    .contents-box-inner-01 {
      margin-bottom: 20px;
      @include screen-pc {
        display: flex;
        align-items: flex-end;
        position: relative;
        background-image: url(./images/pages/main-hotline.png);
        background-size: 300px auto;
        background-repeat: no-repeat;
        min-height: calc( 431px * (300/640));
      }
    }
    /* キャッチ */
    .catch {
      padding: 0;
      list-style: none;
      color: $primary-color;
      @include screen-pc {
        padding-left: 310px;
        letter-spacing: 0.18em;
      }
      li {
        font-size: 18px;
        line-height: 1.2;
        margin-bottom: 4px;
        @include font-rounded;
        @include screen-pc {
          font-size: 22px;
        }
      }
    }
    .contents-box-inner-02 {
      &::after {
        display: block;
        content: '';
        width: calc(100vw * 0.8);
        max-width: 640px;
        height: calc(100vw * 0.8 / 640 * 431);
        max-height: 431px;
        margin: 0 auto;
        background-image: url(./images/pages/main-hotline.png);
        background-size: contain;
        background-repeat: no-repeat;
        @include screen-pc {
          display: none;
        }
      }
    }
  }

  /* 電話番号 */
  .contents-box-02 {
    @include tel-within-contents;
  }

  /* メッセージ */
  .contents-box-03 {
    h2 {
      margin-bottom: 5px;
    }
    .contents-box-inner {
      background-color: $base-color;
      border-radius: 10px;
      padding: 15px;
      @include screen-pc {
        padding: 25px;
      }
    }
  }
  /* 体験談 */
  .contents-box-04 {
    padding-bottom: 5px;
    @include screen-pc {
      padding-bottom: 0;
    }
    h2 {
      margin-bottom: 10px;
    }
    ul {
      list-style-type: none;
      padding: 0;
      @include screen-pc {
        display: flex;
        flex-wrap: wrap;
      }
    }
    li {
      border-radius: 10px;
      border: 3px solid $primary-color;
      padding: 20px !important;
      position: relative;
      margin-bottom: 25px;
      line-height: 1.8;
      &::after {
        content: '';
        display: inline-block;
        background-image: url(./images/pages/fukidashi.png);
        background-size: contain;
        background-repeat: no-repeat;
        right: 25px;
        width: 32px;
        height: 22px;
        bottom: -22px;
        position: absolute;
      }
      @include screen-pc {
        width: 440px;
        font-size: 14px;
        &:first-child {
          margin-right: 20px;
        }
        &:last-child {
          width: 100%;
        }
      }
    }
  }

  /* CCAPの電話相談、電話による法律相談 */
  .contents-box-05,
  .contents-box-06 {
    background-color: $base-color;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    padding: 20px 10px 10px;
    @include screen-pc {
      display: flex;
      flex-flow: row;
      align-items: center;
      padding: 10px 0;
    }
    h2 {
      color: $secondary-color;
      font-size: 18px;
      background-repeat: no-repeat;
      background-size: auto 30px;
      background-position: 10px;
      min-height: 30px;
      line-height: 30px;
      @include screen-pc {
        width: 280px;
        min-width: 280px;
        max-width: 280px;
        background-size: auto 50px;
        text-align: center;
      }
    }
    .contents-box-inner {
      padding: 15px;
      @include screen-pc {
        font-size: 14px;
        padding: 15px 40px 15px 0;
      }
      .note {
        margin-top: 10px;
        font-size: 14px;
        @include screen-pc {
          font-size: 13px;
          line-height: 1.5;
        }
      }
    }
  }

  /* CCAPの電話相談 */
  .contents-box-05 {
    margin-bottom: 10px;
    h2 {
      background-image: url(./images/pages/smartphone-icon.png);
      background-position: 0;
      padding-left: 50px;
      @include screen-pc {
        background-position: top center;
        padding: 60px 0 0 0;
      }
    }
  }

  /* 電話による法律相談 */
  .contents-box-06 {
    h2 {
      background-image: url(./images/pages/scale-icon.png);
      background-position: 10px;
      padding-left: 75px;
      @include screen-pc {
        background-position: top center;
        padding: 60px 0 0 0;
      }
    }
  }

  /* FAQ */
  /* 体験談 */
  .contents-box-07 {
    h2 {
      background-image: url(./images/pages/fukidashi-icon.png);
      background-repeat: no-repeat;
      background-size: auto 50px;
      background-position: left center;
      padding-left: 56px;
      @include screen-pc {
        display: inline-block;
      }
    }
    .lead {
      @include screen-pc {
        display: inline-block;
        margin-left: 10px;
      }
    }
    .contents-box-inner {
      border: 3px solid #eee;
      border-radius: 10px;
      ul {
        padding: 0 20px;
        list-style-type: none;
        li {
          border-bottom: 1px solid #eee;
          padding: 10px 0;
          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
  }
}

/* ペアレンティングプログラムに参加する for-parent/parenting */
.for-parent-child.parenting {
  /* 導入 */
  .contents-box-01 {
    @include screen-pc {
      background-image: url(./images/pages/main-parenting.png);
      background-size: 300px auto;
      background-repeat: no-repeat;
    }
    .contents-box-inner {
      h2 {
        margin-bottom: 10px;
      }
      p {
        margin-bottom: 20px;
        @include screen-pc {
          margin-bottom: 0;
        }
      }
      @include screen-pc {
        min-height: calc( 431px * (300/640));
        h2,
        p {
          padding-left: 310px;
        }
      }
      &::after {
        display: block;
        content: '';
        width: calc(100vw * 0.8);
        max-width: 640px;
        height: calc(100vw * 0.8 / 640 * 431);
        max-height: 431px;
        margin: 0 auto;
        background-image: url(./images/pages/main-parenting.png);
        background-size: contain;
        background-repeat: no-repeat;
        @include screen-pc {
          display: none;
        }
      }
    }
    .special-box {
      background-color: $base-color;
      border-radius: 10px;
      padding: 10px 20px 20px;
      position: relative;
      margin-top: 40px;
      @include screen-pc {
        padding: 10px 30px 20px;
      }
      &::before {
        display: block;
        content: '';
        width: 22px;
        height: 22px;
        background-image: url(./images/pages/hukidashi-basecolor.png);
        background-repeat: no-repeat;
        background-size: 22px 22px;
        position: absolute;
        top: -22px;
        left: calc((100vw - 30px) / 2);
        @include screen-pc {
          left: 439px;
        }
      }
      h3 {
        background-image: url(./images/pages/letter-icon.png);
        background-repeat: no-repeat;
        background-size: auto 60px;
        min-height: 60px;
        padding-left: 60px;
        @include screen-pc {
          line-height: 60px;
        }
      }
      p {
        font-size: 14px;
      }
    }
  }
  /* 参加者の声 */
  .contents-box-02 {
    padding-bottom: 10px;
    @include screen-pc {
      padding-bottom: 0;
    }
    h2 {
      margin-bottom: 10px;
    }
    ul {
      list-style-type: none;
      padding: 0;
      @include screen-pc {
        display: flex;
        flex-wrap: wrap;
      }
    }
    li {
      border-radius: 10px;
      border: 3px solid $primary-color;
      padding: 20px !important;
      position: relative;
      margin-bottom: 25px;
      line-height: 1.8;
      &::after {
        content: '';
        display: inline-block;
        background-image: url(./images/pages/fukidashi.png);
        background-size: contain;
        background-repeat: no-repeat;
        right: 25px;
        width: 32px;
        height: 22px;
        bottom: -22px;
        position: absolute;
      }
      @include screen-pc {
        width: 440px;
        font-size: 14px;
        margin-right: 20px;
        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }
  }
  /* 参加するには */
  .contents-box-03 {
    background-color: $base-color;
    border-radius: 10px;
    padding: 20px;
    @include screen-pc {
      padding: 20px 30px;
    }
    h2 {
      color: $secondary-color;
      // margin-bottom: 0;
    }
    .contents-box-inner {
      margin-bottom: 20px;
    }
    .link-box {
      @include rounded-rectangle-link(360px);
      width: 100%;
      a {
        letter-spacing: 0;
      }
      @include screen-tablet {
        width: 60%;
        a {
          letter-spacing: 0.1em;
        }
      }
    }
  }
  /* FAQ */
  .contents-box-04 {
    h2 {
      background-image: url(./images/pages/fukidashi-icon.png);
      background-repeat: no-repeat;
      background-size: auto 50px;
      background-position: left center;
      padding-left: 56px;
      @include screen-pc {
        display: inline-block;
      }
    }
    .contents-box-inner {
      border: 3px solid #eee;
      border-radius: 10px;
      padding: 10px 20px;
      dl {
        border-bottom: 1px solid #eee;
        padding: 0 0 0 40px;
        &:last-child {
          border-bottom: 0;
        }
        dt {
          position: relative;
          background-image: url(./images/pages/accordion-close.png);
          background-repeat: no-repeat;
          background-size: 28px 15px;
          background-position: right;
          padding: 15px 30px 15px 0;
          font-size: 16px;
          cursor: pointer;
          @include screen-tablet {
            font-size: 18px;
          }
          &:hover {
            color: $secondary-color;
          }
          &.open {
            background-image: url(./images/pages/accordion-open.png);
          }
          .question-no {
            color: $primary-color;
            position: absolute;
            left: -40px;
          }
        }
        dd {
          padding: 0 0 15px 0;
        }
      }
    }
  }
}

/* 虐待はなぜ... /for-parent/childabuse */
.childabuse {
  /* 導入 */
  .special-box {
    background-color: $base-color;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    margin-top: 30px;
    @include screen-pc {
      padding: 20px 30px;
    }
    &::before {
      display: block;
      content: '';
      width: 22px;
      height: 22px;
      background-image: url(./images/pages/hukidashi-basecolor.png);
      background-repeat: no-repeat;
      background-size: 22px 22px;
      position: absolute;
      top: -22px;
      left: calc((100vw - 30px) / 2);
      @include screen-pc {
        left: 439px;
      }
    }
    p {
      color: $secondary-color;
      text-align: center;
      @include screen-pc {
        font-size: 18px;
      }
    }
  }
  /* 子どもの虐待とは */
  .contents-box-02 {
    .contents-box-inner {
      border: 3px solid $primary-color;
      border-radius: 10px;
      padding: 20px;
      display: flex;
      flex-flow: column;
      @include screen-pc {
        padding: 20px 30px;
        flex-flow: row;
        flex-wrap: wrap;
      }
      dl {
        border-bottom: 2px dotted $primary-color;
        margin-bottom: 20px;
        padding-bottom: 20px;
        @include screen-pc {
          width: 834 / 2 * 1px;
        }
        &:last-child {
          border-bottom: 0;
          margin-bottom: 0;
          padding-bottom: 0;
        }
        &:nth-child(3) {
          dt,dd {
            @include screen-pc {
              border-right: 2px dotted $primary-color;
              margin-bottom: 2px;
              padding-right: 20px;
            }
          }
        }
        &:first-child {
          @include screen-pc {
          padding-right: 20px;
          }
        }
        &:nth-child(2) {
          dt,dd {
            @include screen-pc {
              border-left: 2px dotted $primary-color;
              margin-bottom: 2px;
              padding-left: 20px;
            }
          }
        }
        &:nth-child(3),
        &:last-child {
          @include screen-pc {
            border-bottom: 0;
            padding-bottom: 0;
            margin-bottom: 0;
          }
        }
        &:last-child {
          @include screen-pc {
            padding-left: 20px;
          }
        }
        dt {
          color: $primary-color;
          font-size: 16px;
          @include screen-pc {
            font-size: 18px;
          }
        }
        dd {
          @include screen-pc {
            font-size: 14px;
          }
        }
      }
    }
  }
  /* 親を責めないで */
  .contents-box-03 {
    .contents-box-inner {
      background-color: $base-color;
      border-radius: 10px;
      background-image: url(./images/pages/town.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom right;
      padding: 20px 20px 100px;
      @include screen-pc {
        background-size: 560px 90px;
        padding: 30px 40px 100px;
      }
      h3 {
        margin-bottom: 10px;
      }
    }
  }
}

/* 里親・養親支援 activity/fosterparent */
.activity-child.fosterparent {
  /* 導入 */
  .contents-box-01 {
    @include screen-pc {
      background-image: url(./images/pages/main-fosterparent.png);
      background-size: 300px auto;
      background-repeat: no-repeat;
    }
    .contents-box-inner {
      h2 {
        margin-bottom: 10px;
      }
      p {
        margin-bottom: 20px;
        @include screen-pc {
          margin-bottom: 0;
        }
      }
      @include screen-pc {
        min-height: calc( 431px * (300/640));
        display: flex;
        align-items: center;
        h2,
        p {
          padding-left: 310px;
        }
      }
      &::after {
        display: block;
        content: '';
        width: calc(100vw * 0.8);
        max-width: 640px;
        height: calc(100vw * 0.8 / 640 * 431);
        max-height: 431px;
        margin: 0 auto;
        background-image: url(./images/pages/main-fosterparent.png);
        background-size: contain;
        background-repeat: no-repeat;
        @include screen-pc {
          display: none;
        }
      }
    }
  }
  /* 電話番号 */
  .contents-box-02 {
    > p {
      margin-bottom: 10px;
    }
    @include tel-within-contents;
  }
  /* 特別養親サロン */
  .contents-box-03 {
    h3 {
      margin-bottom: 10px;
    }
    > p {
      margin-bottom: 10px;
    }
    .schedule-box {
      border: 3px solid $primary-color;
      border-radius: 10px;
      padding: 0 15px;
      display: flex;
      flex-flow: column;
      @include screen-pc {
        padding: 0 45px;
      }
      dl {
        border-bottom: 2px dotted $primary-color;
        padding-bottom: 20px;
        @include screen-pc {
          display: flex;
          align-items: center;
          padding: 15px 0;
        }
        &:last-child {
          border-bottom: 0;
          margin-bottom: 0;
          padding-bottom: 0;
        }
        dt {
          color: $secondary-color;
          font-size: 18px;
          margin: 20px 0 5px;
          @include screen-pc {
            font-size: 20px;
            width: 110px;
            min-width: 110px;
            text-align: center;
          }
          .title-highlight {
            @include string-highlight;
          }
        }
        dd {
          @include screen-pc {
            font-size: 14px;
            margin-left: 15px;
          }
          ul {
            li {
              padding-bottom: 0;
            }
            li:first-child {
              @include screen-pc {
                font-size: 13px;
              }
            }
            li:nth-child(2) {
              font-size: 18px;
              color: $secondary-color;
              @include screen-pc {
                font-size: 20px;
              }
            }
          }
          table {
            margin-top: 10px;
            font-size: 14px;
            border-color: #ddd;
            tr {
              background-color: transparent;
            }
            th,td {
              border-color: #ddd;
            }
            th {
              font-weight: normal;
              background-color: #f5f5f5;
            }
            td {
              background-color: transparent;
              padding-left: 25px;
            }
          }
        }
      }
    }
  }
  .contents-box-04 {
    background-color: #f3fCe6;
    border-radius: 10px;
    padding: 15px;
    @include screen-pc {
      padding: 20px 30px;
    }
    h2 {
      color: $secondary-color;
    }
  }
}
