/* page */
/* 打ち消し */
.page {
  .post {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        font-size: 15px;
        line-height: 1.5;
      }
    }
    ol {
      li {
        font-size: inherit;
        line-height: inherit;
      }
    }
    table {
      tr {
        th,td {
          font-size: inherit;
          line-height: inherit;
          p {
            font-size: inherit;
            line-height: inherit;
          }
        }
      }
    }
    h4 {
      background-color: transparent;
      font-size: inherit;
      line-height: inherit;
      font-weight: normal;
      margin: 0;
      padding: 0;
    }
  }
}

/* 共通 */
.static-page {
  margin: 0 15px;
  /* base font */
  color: $txt-base-color02;
  font-size: 15px;
  letter-spacing: 0.1em;
  line-height: 1.8;

  @include screen-pc {
    // margin: 0 0 30px;
  }

  /* 記事全体 */
  article {
    @include screen-pc {
      width: 900px;
      margin: 0 auto;
    }
  }

  /* タイトル */
  .entry-title {
    text-align: center;
    margin: 20px 0 10px;
    .static-page-title {
      color: $txt-base-color02;
      font-size: 26px;
      line-height: 1.5;
      letter-spacing: 0.05em;
      @include font-rounded;
      @include slant-stripe-line;
      .static-page-title__en {
        color: $primary-color;
        font-size: 0.7em;
        @include font-noto;
        margin-left: 10px;
        letter-spacing: 0.15em;
      }
    }
  }

  /* content box */
  .contents-box {
    margin-bottom: 30px;
    @include screen-pc {
      margin-bottom: 60px;
    }
    h2 {
      @include font-rounded;
      font-size: 24px;
      color: $secondary-color;
      margin-bottom: 10px;
      line-height: 1.2;
    }
    h3 {
      @include font-rounded;
      color: $secondary-color;
      border: 0;
      padding: 0;
      margin: 0;
      font-size: 18px;
      line-height: 1.2;
      @include screen-tablet {
        font-size: 22px;
        /* line-height: 1.4; */
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  /* hr */
  hr {
    height: 1px;
    background-color: #ddd;
    color: #ddd;
    border: none;
    margin-bottom: 30px;
    @include screen-pc {
      margin-bottom: 40px;
    }
  }

  /* br PCでのみ改行する */
  .br-only-pc {
    display: none;
    @include screen-pc {
      display: inline;
    }
  }
}

/* 子育て中の方へ for-parent */
.page-parent.for-parent {
  /* 導入 */
  .contents-box-01 {
    @include pc-main-img(hearts);
    .contents-box-inner {
      @include sp-main-img(hearts);
      &::after {
        max-width: 790px;
        height: calc(100vw * 0.8 / 790 * 720);
        max-height: 720px;
      }
      h2 {
        margin-bottom: 10px;
      }
      p:last-of-type {
        margin-bottom: 20px;
        @include screen-pc {
          margin-bottom: 0;
        }
      }
      @include screen-pc {
        min-height: calc( 720px * (300/790));
        padding-left: 330px;
      }
    }
  }
  /* リンク集 */
  .contents-box-02 {
    @include dl-rounded-box;
    @include screen-pc {
      padding: 0 45px;
    }
    dl {
      @include screen-pc {
        padding: 25px 0;
      }
      dt {
        @include screen-pc {
          font-size: 18px !important;
          width: 250px !important;
          min-width: 250px !important;
          line-height: 1.3;
        }
      }
      dd {
        p {
          margin-bottom: 10px;
        }
        .link-box {
          @include rounded-rectangle-link(180px);
          @include screen-pc {
            margin: 0;
          }
          a {
            @include screen-pc {
              padding: 6px 4px !important;
            }
          }
        }
      }
    }
  }
}

/* 電話で相談する for-parent/hotline */
.for-parent-child.hotline {
  /* タイトル */
  .entry-title {
    @include screen-pc {
      margin-bottom: 0 !important;
    }
  }
  /* 導入 */
  .contents-box-01 {
    .contents-box-inner-01 {
      margin-bottom: 20px;
      @include pc-main-img(main-hotline);
      @include screen-pc {
        display: flex;
        align-items: flex-end;
        position: relative;
        min-height: calc( 431px * (300/640));
      }
    }
    /* キャッチ */
    .catch {
      padding: 0;
      list-style: none;
      color: $secondary-color;
      @include screen-pc {
        padding-left: 310px;
        letter-spacing: 0.18em;
      }
      li {
        font-size: 18px;
        line-height: 1.2;
        margin-bottom: 4px;
        @include font-rounded;
        @include screen-pc {
          font-size: 22px;
        }
      }
    }
    .contents-box-inner-02 {
      @include sp-main-img(main-hotline);
    }
  }

  /* 電話番号 */
  .contents-box-02 {
    @include tel-within-contents;
  }

  /* メッセージ */
  .contents-box-03 {
    h2 {
      margin-bottom: 5px;
    }
    .contents-box-inner {
      @include base-color-box($padding-pc-topbottom:25px, $padding-pc-side:25px);
    }
  }
  /* 体験談 */
  .contents-box-04 {
    @include fukidashi-comments;
    li {
      @include screen-pc {
        &:last-child {
          width: 100%;
          margin-right: 0;
        }
      }
    }
  }

  /* CCAPの電話相談、電話による法律相談 */
  .contents-box-05,
  .contents-box-06 {
    background-color: $base-color;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    padding: 20px 10px 10px;
    @include screen-pc {
      display: flex;
      flex-flow: row;
      align-items: center;
      padding: 10px 0;
    }
    h2 {
      font-size: 18px;
      background-repeat: no-repeat;
      background-size: auto 30px;
      background-position: 10px;
      min-height: 30px;
      line-height: 30px;
      @include screen-pc {
        width: 280px;
        min-width: 280px;
        max-width: 280px;
        background-size: auto 50px;
        text-align: center;
      }
    }
    .contents-box-inner {
      padding: 15px;
      @include screen-pc {
        font-size: 14px;
        padding: 15px 40px 15px 0;
      }
      .link-box {
        @include rounded-rectangle-link(180px);
        margin: 10px auto 0;
        @include screen-pc {
          margin: 10px 0 0;
        }
        a {
          @include screen-pc {
            padding: 6px 4px !important;
          }
        }
      }
      .note {
        margin-top: 10px;
        font-size: 14px;
        @include screen-pc {
          font-size: 13px;
          line-height: 1.5;
        }
      }
    }
  }

  /* CCAPの電話相談 */
  .contents-box-05 {
    margin-bottom: 10px;
    h2 {
      background-image: url(./images/pages/smartphone-icon.png);
      background-position: 0;
      padding-left: 50px;
      @include screen-pc {
        background-position: top center;
        padding: 60px 0 0 0;
      }
    }
  }

  /* 電話による法律相談 */
  .contents-box-06 {
    h2 {
      background-image: url(./images/pages/scale-icon.png);
      background-position: 10px;
      padding-left: 75px;
      @include screen-pc {
        background-position: top center;
        padding: 60px 0 0 0;
      }
    }
  }

  /* FAQ */
  /* 体験談 */
  .contents-box-07 {
    h2 {
      background-image: url(./images/pages/fukidashi-icon.png);
      background-repeat: no-repeat;
      background-size: auto 50px;
      background-position: left center;
      padding-left: 56px;
      @include screen-pc {
        display: inline-block;
      }
    }
    .lead {
      @include screen-pc {
        display: inline-block;
        margin-left: 10px;
      }
    }
    .contents-box-inner {
      border: 3px solid #eee;
      border-radius: 10px;
      ul {
        padding: 10px 20px;
        list-style-type: none;
        @include screen-pc {
          padding: 0 20px;
        }
        li {
          border-bottom: 1px solid #eee;
          padding: 10px 0;
          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
  }
}

/* ペアレンティングプログラムに参加する for-parent/parenting */
.for-parent-child.parenting {
  /* 導入 */
  .contents-box-01 {
    @include pc-main-img(main-parenting);
    .contents-box-inner {
      @include sp-main-img(main-parenting);
      h2 {
        margin-bottom: 10px;
      }
      p {
        margin-bottom: 20px;
        @include screen-pc {
          margin-bottom: 0;
        }
      }
      @include screen-pc {
        min-height: calc( 431px * (300/640));
        h2,
        p {
          padding-left: 310px;
        }
      }
    }
    .special-box {
      @include base-color-box(10px, 30px, 10px, 20px);
      @include fukidashi-for-base-color-box;
      padding-bottom: 20px;
      position: relative;
      margin-top: 40px;
      @include screen-pc {
        padding-bottom: 20px;
      }
      h3 {
        background-image: url(./images/pages/letter-icon.png);
        background-repeat: no-repeat;
        background-size: auto 60px;
        min-height: 60px;
        padding-left: 60px;
        display: flex;
        align-items: center;
        @include screen-pc {
          line-height: 60px;
        }
      }
      p {
        font-size: 14px;
      }
    }
  }
  /* 参加者の声 */
  .contents-box-02 {
    @include fukidashi-comments;
  }
  /* 参加するには */
  .contents-box-03 {
    @include base-color-box($padding-pc-topbottom:20px, $padding-pc-side:30px);
    .contents-box-inner {
      margin-bottom: 20px;
    }
    .link-box {
      @include rounded-rectangle-link;
      width: 100%;
      @include screen-tablet {
        width: 60%;
      }
      @include screen-pc {
        width: 300px;
      }
    }
  }
  /* FAQ */
  .contents-box-04 {
    h2 {
      background-image: url(./images/pages/fukidashi-icon.png);
      background-repeat: no-repeat;
      background-size: auto 50px;
      background-position: left center;
      padding-left: 56px;
      @include screen-pc {
        display: inline-block;
      }
    }
    .contents-box-inner {
      border: 3px solid #eee;
      border-radius: 10px;
      padding: 10px 20px;
      dl {
        border-bottom: 1px solid #eee;
        padding: 0 0 0 40px;
        &:last-child {
          border-bottom: 0;
        }
        dt {
          position: relative;
          background-image: url(./images/pages/accordion-close.png);
          background-repeat: no-repeat;
          background-size: 28px 15px;
          background-position: right;
          padding: 15px 30px 15px 0;
          font-size: 16px;
          cursor: pointer;
          @include screen-tablet {
            font-size: 18px;
          }
          &:hover {
            color: $secondary-color;
          }
          &.open {
            background-image: url(./images/pages/accordion-open.png);
          }
          .question-no {
            color: $primary-color;
            position: absolute;
            left: -40px;
          }
        }
        dd {
          padding: 0 0 15px 0;
        }
      }
    }
  }
}

/* 虐待はなぜ... /for-parent/childabuse */
.childabuse {
  /* title */
  .static-page-title {
    margin-bottom: 0 !important;
    font-size: 24px !important;
    @include screen-pc {
      font-size: 26px !important;
    }
  }
  h2 {
    font-size: 22px !important;
    @include screen-pc {
      font-size: 24px !important;
    }
  }
  /* 導入 */
  .special-box {
    @include base-color-box($padding-pc-topbottom:20px, $padding-pc-side:30px);
    @include fukidashi-for-base-color-box;
    position: relative;
    margin-top: 30px;
    p {
      color: $secondary-color;
      text-align: center;
      @include screen-pc {
        font-size: 18px;
      }
    }
  }
  /* 子どもの虐待とは */
  .contents-box-02 {
    .contents-box-inner {
      border: 3px solid $primary-color;
      border-radius: 10px;
      padding: 20px;
      display: flex;
      flex-flow: column;
      @include screen-pc {
        padding: 20px 30px;
        flex-flow: row;
        flex-wrap: wrap;
      }
      dl {
        border-bottom: 2px dotted $primary-color;
        margin-bottom: 20px;
        padding-bottom: 20px;
        @include screen-pc {
          width: 834 / 2 * 1px;
        }
        &:last-child {
          border-bottom: 0;
          margin-bottom: 0;
          padding-bottom: 0;
        }
        &:nth-child(3) {
          dt,dd {
            @include screen-pc {
              border-right: 2px dotted $primary-color;
              margin-bottom: 2px;
              padding-right: 20px;
            }
          }
        }
        &:first-child {
          @include screen-pc {
          padding-right: 20px;
          }
        }
        &:nth-child(2) {
          dt,dd {
            @include screen-pc {
              border-left: 2px dotted $primary-color;
              margin-bottom: 2px;
              padding-left: 20px;
            }
          }
        }
        &:nth-child(3),
        &:last-child {
          @include screen-pc {
            border-bottom: 0;
            padding-bottom: 0;
            margin-bottom: 0;
          }
        }
        &:last-child {
          @include screen-pc {
            padding-left: 20px;
          }
        }
        dt {
          color: $primary-color;
          font-size: 16px;
          @include screen-pc {
            font-size: 18px;
          }
        }
        dd {
          @include screen-pc {
            font-size: 14px;
          }
        }
      }
    }
  }
  /* 親を責めないで */
  .contents-box-03 {
    .contents-box-inner {
      @include base-color-box;
      background-image: url(./images/pages/town.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom right;
      padding-bottom: 100px;
      @include screen-pc {
        background-size: 560px 90px;
        padding-bottom: 100px;
      }
      h3 {
        margin-bottom: 10px;
      }
    }
  }
}


/* グループケアに参加する for-parent/groupcare */
.for-parent-child.groupcare {
  /* 導入 */
  .contents-box-01 {
    h2 {
      margin-bottom: 0;
      @include sp-main-img(main-groupcare);
      @include pc-main-img(main-groupcare);
      font-size: 22px;
      @include screen-pc {
        padding-left: 330px;
        display: flex;
        align-items: center;
        min-height: calc( 431px * (300/640));
        font-size: 24px;
      }
    }
    ul {
      display: flex;
      flex-flow: column;
      @include screen-pc {
        flex-flow: row;
        justify-content: space-between;
      }
      li {
        @include base-color-box(30px, 20px, 30px, 20px);
        width: 100%;
        text-align: left;
        @include screen-pc {
          width: 440px;
          text-align: center;
        }
        &:last-child {
          margin-top: 10px;
          @include screen-pc {
            margin-top: 0;
          }
        }
        strong {
          color: $secondary-color;
          font-weight: normal;
          @include screen-pc {
            font-size: 18px;
          }
        }
      }
    }
  }
  /* グループの種類 */
  .contents-box-02 {
    .contents-box-inner {
      border-radius: 10px;
      border: 3px solid $primary-color;
      padding: 0 15px;
      display: flex;
      flex-flow: column;
      @include screen-pc {
        flex-flow: row;
        justify-content: space-between;
        padding: 20px 10px;
      }
      dl {
        border-bottom: 2px dotted $primary-color;
        flex-grow: 1;
        padding: 20px 0;
        @include screen-pc {
          border-bottom: 0;
          border-right: 2px dotted $primary-color;
          width: 295px;
          padding: 0 20px;
        }
        &:last-child {
          border-bottom: 0;
          @include screen-pc {
            border-right: 0;
          }
        }
        dt {
          color: $secondary-color;
        }
        dd {
          font-size: 0.9em;
        }
      }
    }
  }
  /* お母さんへの手紙 */
  .contents-box-03 {
    h2 {
      small {
        color: $txt-base-color01;
        font-size: 0.7em;
      }
    }
    .contents-box-inner {
      @include base-color-box;
      strong {
        color: $secondary-color;
        font-size: 1.2em;
        margin: 15px 0;
        display: block;
        @include screen-pc {
          margin: 35px 0;
        }
      }
    }
  }
  /* 参加者の声 */
  .contents-box-04 {
    .contents-box-inner {
      @include dl-rounded-box;
    }
  }
  /* あなたを待っています */
  .contents-box-05 {
    @include screen-pc {
      position: relative;
      margin-top: 90px;
    }
    h2 {
      @include yellow-fukidashi(waitingforyou, -68px, 20px);
    }
    .catch {
      margin-bottom: 5px;
      li {
        font-size: 18px;
        color: $secondary-color;
        @include screen-pc {
          font-size: 24px;
          text-align: center;
          padding-bottom: 14px;
        }
      }
    }
    .contents-box-inner {
      p {
        @include screen-pc {
          text-align: center;
        }
      }
    }
  }
  .register-btn {
    @include rounded-rectangle-link(320px);
    margin: 20px auto;
    width: 100%;
    &::before {
      @include screen-pc {
        top: calc(50% - 4px);
      }
    }
    a {
      letter-spacing: 0;
      @include screen-pc {
        padding: 4px;
      }

    }
  }
  /* 参加するには */
  .contents-box-06 {
    @include base-color-box($padding-pc-topbottom:20px, $padding-pc-side:30px);
    .contents-box-inner {
      margin-bottom: 20px;
    }
    .link-box {
      @include rounded-rectangle-link;
      width: 100%;
      @include screen-tablet {
        width: 60%;
      }
      @include screen-pc {
        width: 300px;
      }
    }
  }
}


/* 活動内容 activity */
.page-parent.activity {
  /* 導入 */
  .contents-box-01 {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      @include screen-tablet {
        margin-left: 2%;
      }
      @include screen-pc {
        justify-content: space-between;
        margin-left: 15px;
      }
      li {
        width: 100%;
        text-align: center;
        margin-right: 0;
        margin-bottom: 20px;
        padding-bottom: 0;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        @include screen-tablet {
          width: 47%;
          margin-right: 2%;
        }
        @include screen-pc {
          width: calc((885px / 3) - 15px);
          margin-right: 15px;
          margin-bottom: 40px;
        }
        a {
          display: block;
        }
        .actions-items-inner > a {
          @include screen-pc {
            height: 185px;
            max-height: 185px;
          }
        }
        dl {
          display: flex;
          flex-flow: column;
          width: 90%;
          margin: 10px auto;
          dt {
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: normal;
            text-align: center;
            @include screen-pc {
              font-size: 18px;
            }
            span {
              @include string-highlight();
            }
          }
          dd {
            font-size: 18px;
            color: $txt-base-color01;
            letter-spacing: 0.05em;
            @include screen-pc {
              font-size: 14px;
            }
            p {
              text-align: left;
              margin-bottom: 0;
            }
          }
        }
        &:nth-child(3) {
          dt {
            font-size: 18px;
            @include screen-pc {
            font-size: 16px;
            }
          }
        }
      }
      .link-box {
        @include rounded-rectangle-link($pc-width:80%);
      }
    }
  }
}

/* 里親・養親支援 activity/fosterparent */
.activity-child.fosterparent {
  /* 導入 */
  .contents-box-01 {
    @include screen-pc {
      display: flex;
    }
    p {
      margin-bottom: 0;
      @include sp-main-img(main-fosterparent);
      @include pc-main-img(main-fosterparent);
      @include screen-pc {
        padding-left: 330px;
        display: flex;
        align-items: center;
        min-height: calc( 431px * (300/640));
      }
    }
  }
  /* 電話番号 */
  .contents-box-02 {
    > p {
      margin-bottom: 10px;
    }
    @include tel-within-contents;
  }
  /* 里親・養親向け連続講座 */
  .contents-box-03 {
    .link-box {
      @include rounded-rectangle-link(360px);
      width: 100%;
      margin: 20px auto;
      @include screen-tablet {
        width: 360px;
        margin: 20px auto 20px 0;
      }
    }
  }
  /* 特別養親サロン */
  .contents-box-04 {
    h3 {
      @include heading-with-icon($imgname:'calendar-icon');
    }
    .link-box {
      @include rounded-rectangle-link(360px);
      width: 100%;
      margin: 20px auto;
      @include screen-tablet {
        width: 360px;
        margin: 20px auto 20px 0;
      }
    }
  }
  .contents-box-05 {
    background-color: #f3fCe6;
    border-radius: 10px;
    padding: 15px;
    @include screen-pc {
      padding: 20px 30px;
    }
  }
}

/* 電話相談 activity/consultation */
.activity-child.consultation {
  /* 導入 */
  .contents-box-01 {
    @include screen-pc {
      display: flex;
    }
    p {
      margin-bottom: 0;
      @include sp-main-img(main-hotline);
      @include pc-main-img(main-hotline);
      @include screen-pc {
        padding-left: 330px;
        display: flex;
        align-items: center;
        min-height: calc( 431px * (300/640));
      }
    }
  }
  /* 図表 */
  .contents-box-02 {
    .contents-box-inner {
      width: calc(100vw * 0.9);
      height: calc(100vw * 0.9 / 640 * 2800);
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(./images/pages/activity_consultation_stat_sp.png);
      @include screen-tablet {
        height: calc(100vw * 0.9 / 1800 * 1560);
        background-image: url(./images/pages/activity_consultation_stat_pc.png);
      }
      @include screen-pc {
        width: 100%;
        height: 780px;
      }
    }
  }
  /* 法律相談説明 */
  .contents-box-03 {
    h3 {
      margin-top: 20px;
      @include heading-with-icon($imgname:'calendar-icon');
    }
    .note {
      font-size: 13px;
      margin-top: 10px;
    }
    .link-box {
      @include rounded-rectangle-link(360px);
      width: 100%;
      margin: 20px auto;
      @include screen-tablet {
        width: 360px;
        margin: 20px auto 20px 0;
      }
    }
  }
  /* 電話番号 */
  .contents-box-04 {
    @include tel-within-contents;
  }
}

/* グループケア activity/groupcare*/
.activity-child.groupcare{
  /* 導入 */
  .contents-box-01 {
    @include screen-pc {
      display: flex;
    }
    p {
      margin-bottom: 0;
      @include sp-main-img(main-groupcare);
      @include pc-main-img(main-groupcare);
      @include screen-pc {
        padding-left: 330px;
        display: flex;
        align-items: center;
        min-height: calc( 431px * (300/640));
      }
    }
  }
  /* どんなところ？ */
  .contents-box-02 {
    .contents-box-inner-01,
    .contents-box-inner-02 {
      @include base-color-box($padding-pc-topbottom:20px, $padding-pc-side:30px);
      h3 {
        margin-bottom: 10px;
      }
      margin-bottom: 20px;
      @include screen-pc {
        margin-bottom: 10px;
      }
    }
    .contents-box-inner-01 {
      margin-top: 20px;
      margin-bottom: 20px;
      @include screen-pc {
        margin-bottom: 10px;
      }
      p {
        margin-bottom: 15px;
      }
      ol {
        @include circle-num-list;
      }
    }
    .contents-box-inner-02 {
      margin-bottom: 20px;
    }
    /* MCG実施日時 */
    > h3 {
      margin-top: 20px;
      @include heading-with-icon($imgname:'calendar-icon');
    }
    table {
      @include table-simple;
      th {
        @include screen-pc {
          width: 200px;
        }
      }
      td {
        @include screen-pc {
          padding: 15px 20px !important;
        }
      }
    }
  }
  /* 申し込み方法 */
  .contents-box-03 {
    .contents-box-inner {
      @include base-color-box;
      h3 {
        margin-bottom: 15px;
      }
      ol {
        @include circle-num-list;
      }
    }
  }
  /* 電話番号 */
  .contents-box-04 {
    @include tel-within-contents;
  }
  /* 子育てひとやすみ */
  .contents-box-05 {
     ul {
       margin: 10px auto;
       @include screen-pc {
         display: inline-block;
       }
      li {
        background-color: $base-color;
        color: $secondary-color;
        border-radius: 4px;
        padding: 15px;
        font-size: 16px;
        line-height: 1;
        display: block;
        text-align: center;
        margin-bottom: 5px;
        @include screen-pc {
          display: inline-block;
          margin-bottom: 0;
        }
      }
    }
    ul + p {
      @include screen-pc {
        display: inline-block;
      }
    }
    .link-box {
      @include rounded-rectangle-link(360px);
      width: 100%;
      margin: 20px auto;
      @include screen-tablet {
        width: 360px;
        margin: 20px auto 20px 0;
      }
    }
  }
  /* ほっとホットサロン */
  .contents-box-06 {
    h3 {
      margin-top: 20px;
      &:first-of-type {
        @include heading-with-icon($imgname:'groupcare-member-icon');
      }
      &:nth-of-type(2) {
        @include heading-with-icon($imgname:'calendar-icon');
      }
    }
    .contents-box-inner-02 {
      border: 3px solid $primary-color;
      border-radius: 10px;
      padding: 15px;
      @include screen-pc {
        text-align: center;
        font-size: 16px;
      }
    }
    table {
      @include table-simple;
      th {
        @include screen-pc {
          width: 200px;
        }
      }
    }
    .link-box {
      @include rounded-rectangle-link(360px);
      width: 100%;
      margin: 20px auto;
      @include screen-tablet {
        width: 360px;
        margin: 20px auto 20px 0;
      }
    }
  }
}

/* ペアレンティングプログラム activity/parenting */
.activity-child.parenting {
  /* 導入 */
  .contents-box-01 {
    @include pc-main-img(main-parenting);
    .contents-box-inner {
      @include sp-main-img(main-parenting);
      h2 {
        margin-bottom: 10px;
      }
      p {
        margin-bottom: 20px;
        @include screen-pc {
          margin-bottom: 0;
        }
      }
      @include screen-pc {
        min-height: calc( 431px * (300/640));
        h2,
        p {
          padding-left: 310px;
        }
      }
    }
  }
  /* プログラム内容 */
  .contents-box-02 {
    h2 {
      small {
        color: $txt-base-color02;
        font-size: 16px;
        display: block;
        margin-top: 5px;
        @include screen-pc {
          display: inline;
          margin-top: 0;
        }
      }
    }
    .contents-box-inner {
      @include dl-rounded-box;
      dl:last-of-type {
        border-bottom: 0;
      }
      dd {
        h4 {
          color: $secondary-color;
          font-size: 16px;
          @include screen-pc {
            font-size: 15px;
          }
        }
        p {
          margin-bottom: 0;
        }
      }
      > p {
        background-color: $base-color;
        border-radius: 4px;
        text-align: center;
        padding: 20px 0;
        padding-top: 25px;
        margin: 10px 0 30px;
        color: $secondary-color;
        font-size: 16px;
        position: relative;
        &::before {
          content: '';
          display: block;
          background-image: url(./images/pages/plus.png);
          width: 40px;
          height: 40px;
          position: absolute;
          top: -20px;
          left: calc( 50% - 20px);
          background-size: contain;
        }
      }
    }
  }
  /* プログラムに参加するには */
  .contents-box-03 {
    table {
      @include table-simple;
      th {
        @include screen-pc {
          width: 200px;
        }
      }
      td {
        @include screen-pc {
          padding-left: 20px;
        }
      }
    }
    /* 申込方法 */
    .contents-box-inner {
      @include base-color-box;
      h3 {
        margin-bottom: 15px;
      }
      ol {
        @include circle-num-list;
      }
    }
    .link-box {
      @include rounded-rectangle-link(360px);
      width: 100%;
      margin: 20px auto;
      @include screen-tablet {
        width: 360px;
        margin: 20px auto 20px 0;
      }
    }
  }
}

/* 子どもケア activity/childcare */
.activity-child.childcare {
  /* 導入 */
  .contents-box-01 {
    @include screen-pc {
      display: flex;
    }
    p {
      margin-bottom: 0;
      @include sp-main-img(main-childcare);
      @include pc-main-img(main-childcare);
      @include screen-pc {
        padding-left: 330px;
        display: flex;
        align-items: center;
        min-height: calc( 431px * (300/640));
      }
    }
  }
  /* 電話番号 */
  .contents-box-02 {
    @include tel-within-contents;
  }
  /* アタッチメント形成のための... */
  .contents-box-03 {
    ul {
      display: flex;
      flex-flow: column;
      margin: 20px 0;
      @include screen-pc {
        flex-flow: row;
      }
      li {
        @include base-color-box($padding-pc-topbottom:20px, $padding-pc-side:30px)
        margin-bottom: 10px;
        @include screen-pc {
          width: calc(100% / 3);
          margin-right: 5px;
          &:last-child {
            margin-right: 0;
          }
        }
        p {
          font-size: 14px;
          &:first-child {
            color: $secondary-color;
            font-size: 16px;
          }
        }
      }
    }
    .link-box {
      @include rounded-rectangle-link(360px);
      width: 100%;
      margin: 20px auto;
      @include screen-tablet {
        width: 360px;
        margin: 20px auto 20px 0;
      }
    }
  }
  /* 心理相談 */
  .contents-box-04 {
    h3 {
      margin-bottom: 10px;
    }
    /* 完全予約制 */
    p:nth-of-type(2) {
      display: inline-block;
      background-color: #F8F664;
      padding: 2px 50px;
      border-radius: 4px;
      margin-bottom: 20px;
      strong {
        font-weight: normal;
        font-size: 14px;
      }
    }
    /* 対象 */
    .contents-box-inner {
      margin-bottom: 20px;
      @include base-color-box;
      ol {
        @include circle-num-list;
        @include screen-pc {
          font-size: 18px;
        }
        li::before {
          top: 4px;
          position: absolute;
        }
      }
    }
    .link-box {
      @include rounded-rectangle-link(360px);
      width: 100%;
      margin: 20px auto;
      @include screen-tablet {
        width: 360px;
        margin: 20px auto 20px 0;
      }
    }
  }
}

/* 教育広報 activity/education */
.activity-child.education {
  /* 導入 */
  .contents-box-01 {
    @include screen-pc {
      display: flex;
    }
    p {
      margin-bottom: 0;
      @include sp-main-img(main-seminar);
      @include pc-main-img(main-seminar);
      @include screen-pc {
        padding-left: 330px;
        display: flex;
        align-items: center;
        min-height: calc( 431px * (300/640));
      }
    }
  }

  /* リンク集 */
  .contents-box-02 {
    @include dl-rounded-box;
    @include screen-pc {
      padding: 0 45px;
    }
    dl {
      @include screen-pc {
        padding: 25px 0;
      }
      dt {
        @include screen-pc {
          font-size: 18px !important;
          width: 200px !important;
          min-width: 200px !important;
          line-height: 1.3;
        }
      }
      dd {
        p {
          margin-bottom: 10px;
          &.note {
            font-size: 0.9em;
          }
        }
        .link-box {
          @include rounded-rectangle-link(180px);
          @include screen-pc {
            margin: 0;
          }
          a {
            @include screen-pc {
              padding: 6px 4px !important;
            }
          }
        }
      }
    }
  }
}

/* スケジュール info/schedule */
.info-child.schedule {
  .schedule-pagelinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > li {
      width: 100%;
      display: flex;
      margin-bottom: 5px;
      padding: 0;
      @include screen-tablet {
        width: 49.5%;
      }
      @include screen-pc {
        width: 33%;
      }
      > a {
        background-color: $primary-color;
        color: #fff;
        width: 100%;
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border-radius: 2px;
        &:hover {
          background-color: $secondary-color;
        }
      }
    }
  }
  h2 {
    @include font-rounded;
    font-size: 24px;
    color: $secondary-color;
    margin: 20px 0 10px;
    border-top: 2px solid #e0e0e0;
    padding-top: 20px;
    line-height: 1.2;
    @include screen-pc {
      margin: 40px 0 10px;
      padding-top: 40px;
    }
    &:first-of-type {
      border: 0;
      padding-top: 0;
      @include screen-pc {
        padding-top: 20px;
      }
    }
  }
  table {
    @include table-simple;
    td:first-child {
      text-align: left;
      background-color: #f5f5f5;
      @include screen-pc {
        width: 200px;
        padding: 10px 20px;
      }
    }
    td {
      @include screen-pc {
        padding: 10px 20px;
      }
    }
  }
}

/* 応援する support */
.page-parent.support {
  /* 導入 */
  .contents-box-01 {
    @include screen-pc {
      text-align: center;
    }
  }
  /* 法人の方 */
  .contents-box-02,
  .contents-box-03 {
    .contents-box-inner {
      @include dl-rounded-box;
      dl {
        @include screen-pc {
          justify-content: space-between;
        }
      }
      dt {
        @include screen-pc {
          width: 140px !important;
          min-width: 140px !important;
          text-align: left !important;
          font-size: 18px !important;
        }
      }
      dd {
        display: flex;
        flex-flow: column;
        @include screen-pc {
          flex-flow: row;
          align-items: center;
          justify-content: space-between;
        }
        p {
          margin-bottom: 10px;
          @include screen-pc {
            width: 454px;
            margin-right: 20px;
            margin-bottom: 0;
          }
        }
        .link-box {
          @include rounded-rectangle-link(180px);
          a {
            @include screen-pc {
              padding: 6px 4px !important;
            }
          }
        }
      }
    }
  }
}

/* 賛助会員になる support-child/member */
.support-child.member {
  /* 導入 */
  .contents-box-01 {
    h2 {
      text-align: center;
    }
  }
  /* 賛助会員とは */
  .contents-box-02 {
    .special-box {
      @include base-color-box($padding-pc-topbottom:20px, $padding-pc-side:0);
      color: $secondary-color;
      text-align: center;
      margin-top: 10px;
      @include screen-pc {
        font-size: 18px;
      }
      dd {
        font-size: inherit;
        line-height: 1;
        color: $txt-base-color02;
        @include screen-pc {
          font-size: 16px;
        }
      }
    }
  }
  /* 申込方法 */
  .contents-box-03 {
    .contents-box-inner {
      @include dl-rounded-box;
      table {
        margin-bottom: 0;
        @include table-simple;
        th {
          @include screen-pc {
            width: 140px;
          }
        }
      }
    }
  }
}

/* 寄付をする support-child/donate */
.support-child.donate {
  /* 導入 */
  .contents-box-01 {
    h2 {
      text-align: center;
    }
  }
  /* 寄附金の使途 */
  .contents-box-02 {
    @include base-color-box($padding-pc-topbottom:30px, $padding-pc-side:40px);
    background-color: #f5f5f5;
    h2 {
      color: $txt-base-color02;
    }
  }
  /* 申込方法 */
  .contents-box-03 {
    .contents-box-inner {
      @include dl-rounded-box;
      table {
        margin-bottom: 0;
        @include table-simple;
        th {
          @include screen-pc {
            width: 12em;
            padding: 10px;
          }
        }
      }
    }
  }
}

/* パンフレットを設置する support-child/advertisement */
.support-child.advertisement {
  /* 導入 */
  .contents-box-01 {
    h2 {
      text-align: center;
    }
  }
  /* パンフレット設置場所 */
  .contents-box-02 {
    .contents-box-inner {
      @include base-color-box($padding-pc-topbottom:20px, $padding-pc-side:20px);
      color: $secondary-color;
      @include screen-pc {
        position: relative;
        text-align: center;
      }
      h3 {
        @include yellow-fukidashi(placeforbrochure, -68px, 20px);
      }
      ul li {
        font-size: 16px;
        padding: 0;
        @include screen-pc {
          font-size: 18px;
        }
        small {
          color: $txt-base-color02;
        }
      }
    }
    .note {
      margin-top: 10px;
      font-size: 0.9em;
    }
  }
  /* 配布物 */
  .contents-box-03 {
    .contents-box-inner {
      margin-bottom: 10px;
      @include dl-rounded-box;
      @include screen-pc {
        flex-flow: row;
        padding: 20px 5px;
      }
      dl {
        @include screen-pc {
          flex-flow: column ;
          border-bottom: 0;
          width: 50%;
          justify-content: space-between;
          padding: 10px;
          &:first-child {
            border-right: 2px dotted $primary-color;
          }
        }
        dt {
          text-align: center;
          margin-bottom: 10px;
          @include screen-pc {
            margin-bottom: 20px;
          }
          p {
            line-height: 1.2;
            margin-bottom: 0;
            small {
              font-size: 0.8em;
              display: block;
              @include screen-pc {
                font-size: 12px;
                display: inline;
              }
              color: $txt-base-color02;
            }
          }
          @include screen-pc {
            width: auto;
            min-width: auto;
          }
        }
        dd {
          text-align: center;
          img {
            width: 100px;
            max-width: 100px;
          }
        }
        &:last-child {
          dt {
            p {
              &:last-child {
                font-size: 0.8em;
                text-align: left;
                @include screen-pc {
                  font-size: 13px;
                  text-align: center;
                }
                color: $txt-base-color02;
              }
            }
          }
          dd {
            img {
              width: 300px;
              max-width: 300px;
            }
          }
        }
      }
    }
    .note {
      font-size: 0.8em;
    }
  }
}

/* 相談員になる support-child/volunteer */
.support-child.volunteer {
  /* 導入 */
  .contents-box-01 {
    h2 {
      text-align: center;
    }
    .note {
      font-size: 0.9em;
    }
  }
  /* 養成講座 */
  .contents-box-02 {
    h2 {
      small {
        color: $txt-base-color02;
        font-size: 0.7em;
      }
    }
    table {
      @include table-simple;
      th {
        @include screen-pc {
          width: 200px;
        }
      }
      td {
        ol {
          padding: 0;
          margin: 0;
          li {
            list-style-type: none;
            list-style-position: inside;
            counter-increment: cnt;
            &::before {
              display: marker;
              content: '(' counter(cnt) ') ';
            }
          }
        }
        ul {
          li {
            font-size: inherit;
            line-height: inherit;
            list-style-type: disc;
            list-style-position: inside;
          }
        }
        @include screen-pc {
          padding: 20px;
        }
      }
    }
  }
  /* お問い合わせ先 */
  .contents-box-03 {
    @include base-color-box;
  }
}

/* 啓発活動 enlightenment */
.page-parent.enlightenment {
  .contents-box-02 {
    .contents-box-inner {
      @include dl-rounded-box;
      dl {
        @include screen-pc {
          justify-content: space-between;
        }
      }
      dt {
        @include screen-pc {
          width: 140px !important;
          min-width: 140px !important;
          font-size: 18px !important;
        }
      }
      dd {
        display: flex;
        flex-flow: column;
        @include screen-pc {
          flex-flow: row;
          align-items: center;
          justify-content: space-between;
        }
        p {
          margin-bottom: 10px;
          @include screen-pc {
            width: 454px;
            margin-right: 20px;
            margin-bottom: 0;
          }
        }
        .link-box {
          @include rounded-rectangle-link(180px);
          a {
            @include screen-pc {
              padding: 6px 4px !important;
            }
          }
        }
      }
    }
  }
}

/* 発行図書のご紹介  enlightenment/book */
.enlightenment-child.book {
  /* 導入 */
  .contents-box-01 {
    .note {
      font-size: 0.9em;
    }
  }
  /*　ご注文方法 */
  .contents-box-02 {
    .contents-box-inner {
      @include dl-rounded-box;
      dl {
        display: block; /* IE対策 */
        dt {
          @include screen-pc {
            width: auto;
            min-width: auto;
            text-align: left;
          }
        }
        dd {
          @include screen-pc {
            margin-left: 0;
          }
          table {
            @include table-simple;
          }
        }
      }
    }
  }
  /* 発行書籍のご案内 */
  .contents-box-03 {
    table {
      @include table-simple;
      tr {
        display: flex;
        @include screen-pc {
          display: table-row;
        }
      }
      td {
        overflow: hidden;
        @include screen-pc {
          padding: 20px 10px;
        }
        img {
          display: block;
          margin: 0 auto 10px;
          width: 180px;
          max-width: 180px;
          @include screen-pc {
            width: 90px;
            max-width: 90px;
            float: left;
            margin-left: 10px;
          }
        }
        dl {
          @include screen-pc {
            margin: 0 10px;
          }
        }
        img + dl {
          @include screen-pc {
            margin-left: 130px;
          }
        }
        .book-title {
          font-size: 1.1em;
          font-weight: bold;
          .no-bold {
            font-weight: normal;
          }
          .reduce-size {
            font-size: 1em;
          }
        }
        .book-author {
        }
        .book-description {
          font-size: 0.9em;
          margin-top: 5px;
        }
        &:last-child {
          @include screen-pc {
            width: 90px;
            text-align: center;
            vertical-align: middle;
          }
        }
      }
      &:not(:first-of-type) {
        td {
          &:first-child {
            border-bottom-color: transparent;
            @include screen-pc {
              border-bottom-color: #ddd;
            }
          }
          &:last-child {
            border-top-color: transparent;
            padding-top: 0;
            @include screen-pc {
              border-top-color: #ddd;
              padding-top: 20px;
            }
          }
        }
      }
    }

  }
}

/* 講師依頼 enlightenment/lecture */
.enlightenment-child.lecture {
  /* 導入 */
  .contents-box-01 {
  }
  /* 講師派遣を希望される場合は */
  .contents-box-02 {
    h2 {
      @include heading-with-icon('speaker-icon', 24px, 50px);
    }
    .contents-box-inner {
      @include dl-rounded-box;
    }
    .special-box {
      @include base-color-box;
      @include fukidashi-for-base-color-box;
      position: relative;
      color: $txt-base-color02;
      padding-bottom: 20px;
      margin-top: 30px;
      @include screen-pc {
        text-align: center;
      }
    }
    .note {
      margin-top: 5px;
      font-size: 0.9em;
      @include screen-pc {
        text-align: right;
      }
    }
  }
  /* 講演実績 */
  .contents-box-03 {
    .special-box {
      @include base-color-box($padding-pc-topbottom:10px, $padding-pc-side:10px);
      @include fukidashi-for-base-color-box;
      position: relative;
      text-align: center;
      margin-bottom: 25px;
      font-size: 18px;
      &::before {
        top: auto;
        bottom: -22px;
        transform: rotate(180deg);
      }
      strong {
        color: $secondary-color;
        font-weight: normal;
        font-size: 1.4em;
      }
    }
    table {
      @include table-simple;
      tr {
        td {
          vertical-align: middle;
          padding: 0 10px;
          &::before {
            color: $secondary-color;
          }
          @include screen-pc {
            padding: 10px;
          }
          &:first-child {
            border-bottom: 0;
            padding-top: 10px;
            @include screen-pc {
              border: 1px solid #ddd;
            }
            &::before {
              content: '主催: ';
              @include screen-pc {
                display: none;
              }
            }
          }
          &:nth-child(2) {
            border-top: 0;
            border-bottom: 0;
            @include screen-pc {
              border: 1px solid #ddd;
            }
            &::before {
              content: 'タイトル: ';
              @include screen-pc {
                display: none;
              }
            }
          }
          &:nth-child(3) {
            border-top: 0;
            border-bottom: 0;
            @include screen-pc {
              border: 1px solid #ddd;
            }
            &::before {
              content: '対象: ';
              @include screen-pc {
                display: none;
              }
            }
          }
          &:last-child {
            padding-bottom: 10px;
            &::before {
              content: '講師: ';
              @include screen-pc {
                display: none;
              }
            }
          }
        }
        &:first-child {
          display: none;
          @include screen-pc {
            display: table-row;
          }
        }
      }
    }
    h3 {
      margin-bottom: 5px;
    }
  }
  /* その他にも... */
  .contents-box-04 {
    h2 {
      font-size: 18px;
      font-weight: bold;
    }
  }
  /* お問い合わせ先 */
  .contents-box-05 {
    @include base-color-box;

  }
}

/* 取材の申し込み enlightenment/interview */
.enlightenment-child.interview {
  /* 導入 */
  .contents-box-01 {
    .note {
      margin-top: 5px;
      font-size: 0.9em;
    }
  }
  /* 取材を希望される場合は */
  .contents-box-02 {
    h2 {
      @include heading-with-icon('camera-icon', 24px, 50px);
    }
    .contents-box-inner {
      @include dl-rounded-box;
    }
    .note {
      margin-top: 5px;
      margin-bottom: 0;
      font-size: 0.9em;
    }
  }
  /* お願い */
  .contents-box-03 {
    .link-box {
      @include rounded-rectangle-link(360px);
      margin-top: 10px;
    }
  }
  /* お問い合わせ先 */
  .contents-box-04 {
    @include base-color-box;
  }
}

/* 理事長メッセージ about/message */
.about-child.message {
  .message_photo-pc {
    display: none;
    @include screen-pc {
      display: block;
      width: 190px;
      float: left;
      margin-right: 30px;
    }
  }
  .message_photo-sp {
    max-width: 320px;
    width: 100%;
    margin: 0 auto 20px;
    display: block;
    @include screen-pc {
      display: none;
    }
  }
}

/* 団体概要 about/organization */
.about-child.organization {
  /* 導入 */
  .contents-box-01 {
    > table {
      @include table-simple;
      margin-bottom: 5px;
      > tbody > tr {
        th {
          @include screen-pc {
            width: 140px;
          }
        }
        td {
          @include screen-pc {
            padding: 20px 40px;
          }
        }
      }
      .table-inner {
        border: 0;
        margin: 0;
        tr, th, td {
          border: 0;
          padding: 0;
          background-color: transparent;
          font-weight: normal;
        }
        tr {
          flex-flow: row;
          justify-content: flex-start;
          vertical-align: top;
        }
        th {
          width: 8em;
          max-width: 8em;
          min-width: 8em;
          text-align: left;
          vertical-align: top;
        }
      }
    }
    .note {
      font-size: 0.9em;
      text-align: right;
    }
  }
}

/* 沿革 about/history */
.about-child.history {
  /* 導入 */
  .contents-box-01 {
    table {
      @include table-simple;
      th {
        @include screen-pc {
          width: 190px;
        }
      }
      td {
        @include screen-pc {
          padding: 20px 30px
        }
      }
    }
  }
}

/* 事業報告、会計報告、定款 about/report */
.about-child.report {
  /* 導入 */
  .contents-box-01 {
    h2 {
      small {
        display: block;
      }
    }
    table {
      @include table-simple;
      th {
        @include screen-pc {
          width: 190px;
        }
      }
      td {
        @include screen-pc {
          padding: 20px 30px
        }
      }
    }
  }
}

/* 支援・関連団体 about/related */
.about-child.related {
  /* 関連団体・支援企業・団体 */
  .contents-box-01,
  .contents-box-02 {
    ul {
      @include base-color-box;
      padding-left: 40px;
      li {
        position: relative;
        margin-bottom: 5px;
        @include screen-pc {
          margin-bottom: 8px;
        }
        &::before {
          content: '・';
          color: $primary-color;
          position: absolute;
          left: -20px;
        }
        .note {
          font-size: 0.9em;
          line-height: 1.4;
          margin-top: 4px;
        }
      }
    }
  }
  /* 民間団体 */
  .contents-box-03 {
    .note {
      font-size: 0.9em;
    }
    table {
      @include table-simple;
      th {
        @include screen-pc {
          width: 140px;
        }
      }
      td {
        @include screen-pc {
          padding: 20px 40px;
        }
      }
    }
  }
}

/* プライバシーポリシー policy */
.policy {
  .contents-box-01 {
    .note {
      @include screen-pc {
        text-align: right;
      }
    }
    .contents-box-inner {
      margin: 20px 0 0;
      h3 {
        margin: 20px 0 15px;
        color: $txt-base-color02;
        @include screen-pc {
          font-size: 18px;
        }
      }
      .signature {
        margin: 20px 0;
        @include screen-pc {
          float: right;
        }
        &::after {
          @include screen-pc {
            content: '';
            display: block;
            clear: both;
          }
        }
      }
    }
  }
}

/* 一般の方へ for-general, 里親・養親の方へ for-fosterparent, 専門職・行政の方へ for-profession */
.for-general,
.for-fosterparent,
.for-profession {
  /* リンク集 */
  .contents-box-02 {
    @include dl-rounded-box;
    @include screen-pc {
      padding: 0 45px;
    }
    dl {
      @include screen-pc {
        padding: 25px 0;
      }
      dt {
        @include screen-pc {
          font-size: 18px !important;
          width: 250px !important;
          min-width: 250px !important;
          line-height: 1.3;
        }
      }
      dd {
        p {
          margin-bottom: 10px;
        }
        .link-box {
          @include rounded-rectangle-link(180px);
          @include screen-pc {
            margin: 0;
          }
          a {
            @include screen-pc {
              padding: 6px 4px !important;
            }
          }
        }
      }
    }
  }
}
