$primary-color: #95cb40; //黄緑
$secondary-color: #1b8924; //緑
$base-color: #f3fCe6; //薄緑
$base-layerd-color: #d8f3b0; //重ねた薄緑
$highlight-color01: #f2bd1c; //オレンジ
$highlight-color02: #fce80b; //黄
$txt-base-color01: #666;
$txt-base-color02: #333;

/* google font */
@mixin font-noto { font-family: "Noto Sans JP"; }
@mixin font-rounded { font-family: "M PLUS Rounded 1c"; }

/* media query */

/* iPhone6/7/8 Plusサイズ（414px以上）　*/
@mixin screen-iphoneplus {
  @media screen and (min-width: 414px) {
    @content;
  }
}
/* タブレットサイズ（600px以上） */
@mixin screen-tablet {
  @media screen and (min-width: 600px) {
    @content;
  }
}
/* PCサイズ（960px以上） */
@mixin screen-pc {
  @media print, screen and (min-width: 960px) {
    @content;
  }
}

/* css arrow */
@mixin css-arrow($color:#fff, $width:5px, $top:3px, $left:0) {
  display: block;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $width/2 0 $width/2 $width;
  position: absolute;
  border-color: transparent transparent transparent $color;
  top: calc(50% - #{$top});
  left: $left;
}

@mixin link-with-arrow($color:#fff, $width:5px, $top:3px, $left:0) {
  position: relative;
  &::before {
    @include css-arrow($color:$color, $width:$width, $top:$top, $left:$left);
  }
  a {
    text-decoration: none;
  }
}

/* 角丸四角形リンク */
@mixin rounded-rectangle-link($pc-width:300px) {
  @include link-with-arrow($width:8px, $left:14px);
  width: 80%;
  margin: 0 auto;
  @include screen-pc {
    width: $pc-width;
  }
  a {
    background-color: $primary-color;
    color: #fff;
    padding: 14px 4px;
    border-radius: 2px;
    display: block;
    text-align: center;
    letter-spacing: 0.1em;
    &:hover {
      @include screen-pc {
        background-color: $secondary-color;
      }
    }
  }
}

/* ハイライト */
@mixin string-highlight {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2f091+0,e2f091+100&0+0,0+69,1+70,1+90,0+91 */
  background: -moz-linear-gradient(top, rgba(226,240,145,0) 0%, rgba(226,240,145,0) 69%, rgba(226,240,145,1) 70%, rgba(226,240,145,1) 90%, rgba(226,240,145,0) 91%, rgba(226,240,145,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(226,240,145,0) 0%,rgba(226,240,145,0) 69%,rgba(226,240,145,1) 70%,rgba(226,240,145,1) 90%,rgba(226,240,145,0) 91%,rgba(226,240,145,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(226,240,145,0) 0%,rgba(226,240,145,0) 69%,rgba(226,240,145,1) 70%,rgba(226,240,145,1) 90%,rgba(226,240,145,0) 91%,rgba(226,240,145,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e2f091', endColorstr='#00e2f091',GradientType=0 ); /* IE6-9 */
}

/* 斜め線アンダーラインタイトル */
@mixin slant-stripe-line {
  margin: 0 0 20px;
  padding-bottom: 10px;
  display: inline-block;
  background-image: url(./images/heading_bg.png);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: auto 7px;
}

/* 波背景 */
@mixin wavebg($imgname, $top_padding) {
  &::before {
    display: block;
    content: '';
    background-image: url(./images/#{$imgname}.png);
    background-repeat: repeat-x;
    background-size: 175px 10px;
    width: 100%;
    height: 10px;
    max-height: 20px;
    position: relative;
    top: (10 + $top_padding) * -1;
  }
}
