$primary-color: #95cb40; //黄緑
$secondary-color: #1b8924; //緑
$base-color: #f3fCe6; //薄緑
$base-layerd-color: #d8f3b0; //重ねた薄緑
$highlight-color01: #f2bd1c; //オレンジ
$highlight-color02: #fce80b; //黄
$txt-base-color01: #666;
$txt-base-color02: #333;

/* google font */
@mixin font-noto { font-family: "Noto Sans JP"; }
@mixin font-rounded { font-family: "M PLUS Rounded 1c"; }

/* media query */

/* iPhone6/7/8 Plusサイズ（414px以上）　*/
@mixin screen-iphoneplus {
  @media screen and (min-width: 414px) {
    @content;
  }
}
/* タブレットサイズ（600px以上） */
@mixin screen-tablet {
  @media screen and (min-width: 600px) {
    @content;
  }
}
/* PCサイズ（960px以上） */
@mixin screen-pc {
  @media print, screen and (min-width: 960px) {
    @content;
  }
}

/* css arrow */
@mixin css-arrow($color:#fff, $width:5px, $top:3px, $left:0) {
  display: block;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $width/2 0 $width/2 $width;
  position: absolute;
  border-color: transparent transparent transparent $color;
  top: calc(50% - #{$top});
  left: $left;
}

@mixin link-with-arrow($color:#fff, $width:5px, $top:3px, $left:0) {
  position: relative;
  &::before {
    @include css-arrow($color:$color, $width:$width, $top:$top, $left:$left);
  }
  a {
    text-decoration: none;
  }
}

/* 角丸四角形リンク */
@mixin rounded-rectangle-link($pc-width:300px) {
  @include link-with-arrow($width:8px, $left:14px);
  width: 80%;
  margin: 0 auto;
  @include screen-pc {
    width: $pc-width;
  }
  a {
    background-color: $primary-color;
    color: #fff;
    padding: 14px 4px;
    border-radius: 2px;
    display: block;
    text-align: center;
    letter-spacing: 0.1em;
    &:hover {
      @include screen-pc {
        background-color: $secondary-color;
      }
    }
  }
}

/* ハイライト */
@mixin string-highlight {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2f091+0,e2f091+100&0+0,0+69,1+70,1+90,0+91 */
  background: -moz-linear-gradient(top, rgba(226,240,145,0) 0%, rgba(226,240,145,0) 69%, rgba(226,240,145,1) 70%, rgba(226,240,145,1) 90%, rgba(226,240,145,0) 91%, rgba(226,240,145,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(226,240,145,0) 0%,rgba(226,240,145,0) 69%,rgba(226,240,145,1) 70%,rgba(226,240,145,1) 90%,rgba(226,240,145,0) 91%,rgba(226,240,145,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(226,240,145,0) 0%,rgba(226,240,145,0) 69%,rgba(226,240,145,1) 70%,rgba(226,240,145,1) 90%,rgba(226,240,145,0) 91%,rgba(226,240,145,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e2f091', endColorstr='#00e2f091',GradientType=0 ); /* IE6-9 */
}

/* 斜め線アンダーラインタイトル */
@mixin slant-stripe-line {
  margin: 0 0 20px;
  padding-bottom: 10px;
  display: inline-block;
  background-image: url(./images/heading_bg.png);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: auto 7px;
}

/* 波背景 */
@mixin wavebg($imgname, $top_padding) {
  &::before {
    display: block;
    content: '';
    background-image: url(./images/#{$imgname}.png);
    background-repeat: repeat-x;
    background-size: 175px 10px;
    width: 100%;
    height: 10px;
    max-height: 20px;
    position: relative;
    top: (10 + $top_padding) * -1;
  }
}

/* コンテンツ内電話番号 */
@mixin tel-within-contents {
  .contents-box-inner {
    background-color: $base-color;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    padding: 10px 0;
    @include screen-pc {
      background-color: transparent;
      border-radius: 0;
      background-image: url(./images/pages/telno_bg.png);
      background-repeat: no-repeat;
      flex-flow: row;
      align-items: center;
      justify-content: center;
      padding: 0 60px;
      height: 127px;
    }
    dl {
      width: 90%;
      margin: 0 auto 10px;
      &:first-of-type {
        @include screen-pc {
          width: 400px;
          min-width: 400px;
        }
        dd {
          &:last-child {
            background-image: url(./images/pages/telno.png);
            background-size: contain;
            background-repeat: no-repeat;
            color: transparent;
            width: 80%;
            max-width: 370px;
            height: calc(100vw * 0.8 / 740 * 80);
            max-height: 40px;
            @include screen-pc {
              width: 370px;
            }
          }
        }
      }
      &:last-of-type {
        background-color: #fff;
        padding: 10px;
        @include screen-pc {
          background-color: transparent;
          margin: 0;
          padding: 0;
          width: auto;
        }
        dd {
          overflow: hidden;
          p {
            margin: 0;
            .day {
              min-width: 6em;
              display: inline-block;
              @include screen-pc {
                margin-right: 0.5em;
                display: inline;
              }
            }
            @include screen-pc {
              font-size: 15px;
              float: left;
              line-height: 1.4;
              letter-spacing: 0;
            }
            &:first-child {
              @include screen-pc {
                margin-right: 1em;
              }
            }
          }
        }
      }
      dt {
        color: $secondary-color;
        font-size: 18px;
      }
    }
  }
  .addition {
    @include screen-pc {
      text-align: right;
      margin-top: 10px;
      font-size: 14px;
    }
  }
}

/* table thとtdが並列の場合だけ使用すること sp表示ではthとtdが並列になる */
@mixin table-simple {
  margin-top: 10px;
  font-size: 14px;
  border-color: #ddd;
  tr {
    background-color: transparent;
    display: flex;
    flex-flow: column;
    @include screen-tablet {
      display: table-row;
    }
  }
  th,td {
    border-color: #ddd;
  }
  th {
    font-weight: normal;
    background-color: #f5f5f5;
  }
  td {
    background-color: transparent;
  }
}

/* dl角丸枠 dtとddがpcで並列、spで直列になるもの dlの外側divに入れる */
/*  */
@mixin dl-rounded-box {
  border: 3px solid $primary-color;
  border-radius: 10px;
  padding: 0 15px;
  display: flex;
  flex-flow: column;
  @include screen-pc {
    padding: 10px 45px;
  }
  dl {
    border-bottom: 2px dotted $primary-color;
    padding-bottom: 20px;
    @include screen-pc {
      display: flex;
      align-items: center;
      padding: 15px 0;
    }
    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
    }
    dt {
      color: $secondary-color;
      font-size: 18px;
      margin: 20px 0 5px;
      @include screen-pc {
        margin: 0;
        font-size: 20px;
        width: 110px;
        min-width: 110px;
        text-align: center;
      }
    }
    dd {
      @include screen-pc {
        font-size: 14px;
        margin-left: 15px;
      }
      ul {
        li {
          font-size: 14px;
          padding-bottom: 0;
        }
      }
    }
  }
}

/* base-color角丸枠 */
@mixin base-color-box($padding-pc-topbottom:30px, $padding-pc-side:40px, $padding-sp-topbottom:20px, $padding-sp-side:20px) {
  border-radius: 10px;
  background-color: $base-color;
  padding: $padding-sp-topbottom $padding-sp-side;
  color: $txt-base-color01;
  @include screen-pc {
    padding: $padding-pc-topbottom $padding-pc-side;
  }
}

/* base-color角丸枠用吹き出し矢印 必ず本体にposition:relativeを入れる*/
@mixin fukidashi-for-base-color-box {
  &::before {
    display: block;
    content: '';
    width: 22px;
    height: 22px;
    background-image: url(./images/pages/hukidashi-basecolor.png);
    background-repeat: no-repeat;
    background-size: 22px 22px;
    position: absolute;
    top: -22px;
    left: calc((100% / 2) - 11px);
    @include screen-pc {
      left: 439px;
    }
  }
}

/* 吹き出しコメント ulの外側のdivに設定 */
@mixin fukidashi-comments {
  padding-bottom: 5px;
  @include screen-pc {
    padding-bottom: 0;
  }
  h2 {
    margin-bottom: 10px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    @include screen-pc {
      display: flex;
      flex-wrap: wrap;
    }
  }
  li {
    border-radius: 10px;
    border: 3px solid $primary-color;
    padding: 20px !important;
    position: relative;
    margin-bottom: 25px;
    line-height: 1.8;
    &::after {
      content: '';
      display: inline-block;
      background-image: url(./images/pages/fukidashi.png);
      background-size: contain;
      background-repeat: no-repeat;
      right: 25px;
      width: 32px;
      height: 22px;
      bottom: -22px;
      position: absolute;
    }
    @include screen-pc {
      width: 440px;
      font-size: 14px;
      margin-right: 20px;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}

/* pc用 main画像 */
@mixin pc-main-img($imgname) {
  @include screen-pc {
    background-image: url(./images/pages/#{$imgname}.png);
    background-size: 300px auto;
    background-repeat: no-repeat;
  }
}

/* sp用 after擬似要素main画像 */
@mixin sp-main-img($imgname) {
  &::after {
    display: block;
    content: '';
    width: calc(100vw * 0.8);
    max-width: 640px;
    height: calc(100vw * 0.8 / 640 * 431);
    max-height: 431px;
    margin: 0 auto;
    background-image: url(./images/pages/#{$imgname}.png);
    background-size: contain;
    background-repeat: no-repeat;
    @include screen-pc {
      display: none;
    }
  }
}

/* アイコン付き小見出し */
@mixin heading-with-icon($imgname, $imgheight:30px, $padding-left:45px) {
  margin-bottom: 10px;
  background-image: url(./images/pages/#{$imgname}.png);
  background-repeat: no-repeat;
  background-size: auto $imgheight;
  min-height: $imgheight;
  padding-left: $padding-left;
  display: flex;
  align-items: center;
  font-size: 18px;
}

/* 丸数字リスト olに設定 */
@mixin circle-num-list {
  counter-reset: my-counter;
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding-left: 40px;
    position: relative;
    font-size: inherit;
    &::before {
      content: counter(my-counter);
      counter-increment: my-counter;
      background-color: $primary-color;
      color: #fff;
      display: block;
      float: left;
      line-height: 22px;
      margin-left: -40px;
      text-align: center;
      height: 22px;
      width: 22px;
      border-radius: 50%;
      @include screen-pc {
        font-size: 16px;
      }
    }
  }
}

/* 黄色い吹き出し(PCは画像、SPはCSS) h2またはh3に使用 */
/* 親要素にposition:relative指定 */
@mixin yellow-fukidashi($imgname, $top, $right) {
  color: $txt-base-color02;
  font-size: 16px;
  background-color: #f8f664;
  padding: 20px 10px;
  border-radius: 28px;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  @include screen-pc {
    color: transparent;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border-radius: 0;
    background-image: url(./images/pages/#{$imgname}.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 132px;
    height: 100px;
    position: absolute;
    top: $top;
    right: $right;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: calc( 50% - 10px );
    border-color: transparent;
    border-width: 10px;
    border-style: solid;
    border-top-color: #f8f664;
    border-bottom-width: 0;
    @include screen-pc {
      display: none;
    }
  }
}
