/* sidebar */
/* 打ち消し */
#side .st-aside .menu_underh2 {
  font-size: inherit;
  line-height: inherit;
  font-weight: normal;
}
#side .st-aside ul li {
  font-size: inherit;
  line-height: inherit;
}
#side .st-aside #mybox ul li ul li {
  font-size: inherit;
  line-height: inherit;
}

#mybox {
  .ad {
    background-color: $base-color;
    border-radius: 4px;
    padding: 15px;
    margin: 40px 0 0;
    position: relative;
    @include screen-pc {
      margin-top: 26px;
    }
    &:last-child {
      margin-top: 60px;
    }
    .menu_underh2 {
      color: $txt-base-color02;
      position: absolute;
      top: -30px;
      left: 0;
      @include screen-pc {
        font-size: 16px;
      }
    }
    ul {
      li {
        @include link-with-arrow($left:14px);
        border-radius: 2px;
        a {
          display: block;
          height: 38px;
          line-height: 38px;
          text-decoration: none;
          font-size: 14px;
        }
      }
    }
    .menu {
      /* 第一階層 */
      > li {
        background-color: $primary-color;
        > a {
          color: #fff;
          text-align: center;
          &:hover {
            background-color: $secondary-color;
          }
        }
        &:first-child {
          height: 38px;
          min-height: 38px;
          margin-bottom: calc( 10px + 38px * 4 );
        }
        /* 第二階層 */
        .sub-menu {
          padding: 0;
          position: absolute;
          top: 38px;
          width: 100%;
          height: calc(38px * 4);
          min-height: calc(38px * 4);
          li {
            @include link-with-arrow($color:$primary-color, $left:14px);
            background-color: #fff;
            > a {
              padding-left: 32px;
              color: $txt-base-color02;
              &:hover {
                color: $secondary-color;
              }
            }
          }
        }
      }
    }
    label {
      display: none;
    }
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 0;
      outline: none;
      background: transparent;
      background-color: #fff;
      height: 50px;
      padding: 0 0 0 15px;
      border: 3px solid $primary-color;
      border-radius: 2px;
      background-image: url(./images/select_arrow.png);
      background-repeat: no-repeat;
      background-position: right 12px center;
      background-size: 8px auto;
    }
  }
}
