/* sidebar */
#mybox {
  .ad {
    background-color: $base-color;
    border-radius: 4px;
    padding: 15px;
    margin: 40px 0 0;
    position: relative;
    @include screen-pc {
      margin-top: 70px;
    }
    &:last-child {
      margin-top: 60px;
    }
    .menu_underh2 {
      color: $txt-base-color02;
      position: absolute;
      top: -30px;
      left: 0;
      @include screen-pc {
        font-size: 16px;
      }
    }
    ul {
      li {
        @include link-with-arrow($left:14px);
        background-color: $primary-color;
        margin-bottom: 2px;
        border-radius: 3px;
        &:hover {
          background-color: $secondary-color;
        }
        a {
          display: block;
          color: #fff;
          height: 36px;
          line-height: 36px;
          text-decoration: none;
          text-align: center;
        }
      }
    }
    label {
      display: none;
    }
    select {
      background-color: #fff;
      height: 50px;
      border: 3px solid $primary-color;
      border-radius: 2px;
    }
  }
}
