/* sidebar */
/* 打ち消し */
#side .st-aside .menu_underh2 {
  font-size: inherit;
  line-height: inherit;
  font-weight: normal;
}
#side .st-aside ul li {
  font-size: inherit;
  line-height: inherit;
}
#side .st-aside #mybox ul li ul li {
  font-size: inherit;
  line-height: inherit;
}

/* 幅 */
#side {
  float: none;
  width: auto;
  padding-top: 20px;
  @include screen-pc {
    float: right;
    width: 240px;
    padding-top: 0;
  }
  .st-aside {
    float: none;
    width: auto;
  }
}

#mybox {
  .ad {
    background-color: $base-color;
    border-radius: 4px;
    padding: 15px;
    margin: 70px 0 0;
    position: relative;
    &:first-child {
      margin-top: 40px;
      .menu_underh2::after {
        content: 'Category';
      }
    }
    &:last-child {
      .menu_underh2::after {
        content: 'Archive';
      }
    }
    .menu_underh2 {
      color: $txt-base-color02;
      position: absolute;
      top: -40px;
      left: 0;
      @include font-noto;
      font-size: 20px;
      @include screen-pc {
        font-size: 17px;
      }
      &::after {
        display: inline-block;
        margin-left: 0.8em;
        font-size: 0.8em;
        color: $primary-color;
        letter-spacing: 0.1em;
        @include font-rounded;
      }
    }
    ul {
      li {
        @include link-with-arrow($left:14px);
        border-radius: 2px;
        a {
          display: block;
          text-decoration: none;
          font-size: 18px;
          height: 44px;
          min-height: 44px;
          line-height: 44px;
          @include screen-pc {
            font-size: 14px;
            height: 38px;
            min-height: 38px;
            line-height: 38px;
          }
        }
      }
    }
    .menu {
      /* 第一階層 */
      > li {
        background-color: $primary-color;
        > a {
          color: #fff;
          text-align: center;
          &:hover {
            background-color: $secondary-color;
          }
        }
        &:first-child {
          margin-bottom: calc( 10px + 44px * 4 );
          @include screen-pc {
            margin-bottom: calc( 10px + 38px * 4 );
          }
        }
        /* 第二階層 */
        .sub-menu {
          padding: 0;
          position: absolute;
          top: 44px;
          width: 100%;
          height: calc(44px * 4);
          min-height: calc(44px * 4);
          @include screen-pc {
            top: 38px;
            height: calc(38px * 4);
            min-height: calc(38px * 4);
          }
          li {
            @include link-with-arrow($color:$primary-color, $left:14px);
            background-color: #fff;
            > a {
              padding-left: 32px;
              color: $txt-base-color02;
              &:hover {
                color: $secondary-color;
              }
            }
          }
        }
      }
    }
    label {
      display: none;
    }
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 0;
      outline: none;
      background: transparent;
      background-color: #fff;
      height: 50px;
      padding: 0 0 0 15px;
      border: 3px solid $primary-color;
      border-radius: 2px;
      background-image: url(./images/select_arrow.png);
      background-repeat: no-repeat;
      background-position: right 12px center;
      background-size: 8px auto;
    }
  }
}
