/* top */
#content {
  max-width: 100%;
  width: 100%;
  @include screen-pc {
    max-width: 1060px;
    margin-top: 30px;
  }
  &.content--top-pc {
    @include screen-pc {
      max-width: 100%;
    }
  }
}
.st-main {
  padding: 0;
  @include screen-pc {
    position: relative;

  }
}

.lead-box {
  font-size: 18px;
  color: $txt-base-color01;
  letter-spacing: 0.1em;
  margin: 20px 30px;
  @include screen-pc {
    margin-bottom: 40px;
  }
  .lead-box-title {
    text-align: center;
    margin-bottom: 10px;
    strong {
      font-size: 24px;
      color: $primary-color;
      font-weight: normal;
    }
  }
  .lead-box-body {
    line-height: 1.8;
    @include screen-pc {
      font-size: 14px;
      width: 80%;
      margin: 0 auto;
      letter-spacing: 0.05em;
    }
  }
}

.for-people-box {
  border: 3px solid $primary-color;
  border-radius: 10px;
  margin: 0 20px 20px;
  padding: 0 15px;
  @include screen-pc {
    border: 0;
    margin: 0;
    padding: 0 0 10px 0;
    width: 32em;
    position: absolute;
    top: -160px;
    right: calc((100vw - 1050px) / 2 + 30px);
    background-image: url(./images/for-people-box_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 448px;
    height: 120px;
  }
  &--inner {
    @include screen-pc {
      display: flex;
      align-items: stretch;
      justify-content: center;
    }
    a {
      text-decoration: none;
      color: $txt-base-color02;
      @include screen-pc {
        display: flex;
        background-image: url(./images/arrow_circle.png);
        background-position: center 90px;
        background-repeat: no-repeat;
        background-size: 14px auto;
      }
      &:last-child {
        dl {
          border-bottom: 0px;
        }
        dt {
          @include screen-pc {
            border-right: 0px;
          }
        }
      }
      &:hover {
        @include screen-pc {
          color: $secondary-color;
          background-image: url(./images/arrow_circle_hover.png);
        }
      }
    }
    dl {
      border-bottom: 2px dotted $primary-color;
      display: flex;
      align-items: center;
      padding: 15px 0;
      @include screen-pc {
        border: 0;
        padding: 15px 0 25px;
      }
      dt {
        width: 110px;
        min-width: 110px;
        font-size: 14px;
        margin-right: 10px;
        text-align: center;
        padding-bottom: 24px;
        background-image: url(./images/arrow_circle.png);
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: 18px auto;
        @include screen-pc {
          padding: 0;
          background: none;
          margin-right: 0;
        }
        .people-category {
          font-size: 16px;
          letter-spacing: 0.1em;
          @include string-highlight();
        }
      }
      dd {
        font-size: 16px;
        @include screen-pc {
          display: none;
        }
        p {
          font-size: 16px;
          line-height: 1.4;
          margin: 0;
        }
      }
    }
  }
}

.section-title {
  color: $txt-base-color02;
  text-align: center;
  font-size: 26px;
  line-height: 1.5;
  margin: 0 0 20px;
  letter-spacing: 0.04em;
  .section-title__en {
    color: $primary-color;
    font-size: 0.8em;
    margin-left: 10px;
  }
}

/* 最新のお知らせ */
.latest-news-box {
  font-size: 16px;
  background-color: $base-color;
  padding: 20px 20px 40px;

  ul {
    list-style-type: none;
    background-color: #fff;
    // width: 90%;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    @include screen-pc {
      width: 960px;
      margin: 20px auto;
    }
    li {
      a {
        display: block;
        border-bottom: 2px solid #ddd;
        padding: 10px 0;
        color: $txt-base-color02;
        text-decoration: none;
        @include screen-pc {
          overflow: hidden;
        }
        &:hover {
          @include screen-pc {
            color: $secondary-color;
          }
        }
        p {
          font-size: inherit;
          margin: 0;
          @include screen-pc {
            float: left;
            margin-right: 10px;
          }
          &:last-child {
            @include screen-pc {
              margin-right: 0;
            }
          }
        }
      }
      &:last-child {
        a {
          border: 0;
        }
      }
    }
  }
  .latest-news-more-link {
    @include rounded-rectangle-link();
  }
}

/* 活動 */
.actions-box {
  width: 100%;
  @include screen-pc {
    max-width: 1060px;
    margin: 0 auto;
  }

  .actions-items-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include screen-tablet {
      margin-left: 2%;
    }
    @include screen-pc {
      justify-content: space-between;
      margin-left: 15px;
    }
  }
  .actions-item {
    width: 100%;
    text-align: center;
    margin-right: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    @include screen-tablet {
      width: 47%;
      margin-right: 2%;
    }
    @include screen-pc {
      width: 300px;
      margin-right: 15px;
    }
    a {
      display: block;
    }
    .actions-item-contents {
      display: flex;
      flex-flow: column;
    }
    .actions-item-description {
      width: 90%;
      margin: 20px auto;
      text-align: center;
      strong {
        display: inline-block;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: normal;
        @include string-highlight();
        @include screen-pc {
          font-size: 18px;
        }
      }
      p {
        font-size: 18px;
        color: $txt-base-color01;
        letter-spacing: 0.05em;
        text-align: left;
        @include screen-pc {
          font-size: 14px;
        }
      }
    }
  }
  .actions-more-link {
    @include rounded-rectangle-link($pc-width:80%);
  }
}

/* twitter link */
.link-twitter {
  img {
    width: 50px;
    height: auto;
    padding: 10px;
    @include screen-pc {
      width: 24px;
      padding: 0;
    }
  }
}
